<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CrossPlatformSuite">
    <test name="AndroidTests">
        <parameter name="platform" value="android"/>
        <classes>
            <class name="TestCases.OnboardingTest">
            <methods>
                <include name="TC002_Old_User_Login_To_Hop_App"/>
                <include name="TC003_User_Login_Mobile_No_Already_Registered"/>
            </methods>
            </class>
            <class name="TestCases.SendMoneyTest">
                    <methods>
                        <include name="TC008_Min_Max_INR_Amount"/>
                        <include name="TC009_Default_Currency_Symbols"/>
                    </methods>
            </class>
            <class name="TestCases.KycTest">
                <methods>
                    <include name="TC020_Label_Banner_Kyc_Homepage"/>
                    <include name="TC021_Label_Banner_Pan_Homepage"/>
                </methods>
            </class>
        </classes>
    </test>
    <!--<test name="iOSTests">
        <parameter name="platform" value="ios"/>
        <classes>
            <class name="LoginTest"/>
        </classes>
    </test>-->
</suite>
